<!-- formulario.component.html -->
<form (ngSubmit)="onSubmit()" #postulanteForm="ngForm">
    <label for="documento">Documento</label>
    <input type="number" id="documento" [(ngModel)]="postulante.documento" name="documento" required>

    <label for="firstName">Primer Nombre</label>
    <input type="text" id="firstName" [(ngModel)]="postulante.firstName" name="firstName" required>

    <label for="secondName">Segundo Nombre</label>
    <input type="text" id="secondName" [(ngModel)]="postulante.secondName" name="secondName">

    <label for="lastName">Primer Apellido</label>
    <input type="text" id="lastName" [(ngModel)]="postulante.lastName" name="lastName" required>

    <label for="lastSecondName">Segundo Apellido</label>
    <input type="text" id="lastSecondName" [(ngModel)]="postulante.lastSecondName" name="lastSecondName">

    <label for="phone">Teléfono</label>
    <input type="number" id="phone" [(ngModel)]="postulante.phone" name="phone">

    <label for="email">Correo</label>
    <input type="email" id="email" [(ngModel)]="postulante.email" name="email" required>

    <label for="sex">Sexo</label>
    <select id="sex" [(ngModel)]="postulante.sex" name="sex">
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
    </select>

    <button type="submit" [disabled]="!postulanteForm.form.valid">Enviar</button>
</form>