<header>
    <section class="header">
        <div class="menu">
            <h2 class="logo">PostuMOT</h2>
            <nav class="headNav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Soport</a></li>
            </nav>
            <button class="btn-vacantes"><a href="/src/app/postulante/postulante.component.html"
                    class="btn">Vacantes</a></button>
        </div>
        <div class="infomenu">
            <div class="generalInf">
                <h1>Sistema de postulación para docentes</h1>
                <p>En el sistema podrás visualizar diferentes vacantes ofrecidas por multiples empresas y podras
                    realizar la
                    inscripción a la oferta a la cual deseas aplicar.</p>
                <button class="btn-register"><a href="#" class="btn">Regístrate</a></button>
            </div>
            <img src="assets/image.png" alt="Universidad">
        </div>
    </section>
</header>